@using System.Web.Mvc.Html
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            @RenderSection("pagetitle", false)
        </title>
        @Styles.Render("~/Libraries/Components/Preloader/css")
        @Styles.Render("~/Themes/startbootstrap-sb-admin-2/css")
        @Styles.Render("~/Libraries/Common/css")
        @RenderSection("stylesheet", false)
        @Scripts.Render("~/Themes/startbootstrap-sb-admin-2/js")
        @Scripts.Render("~/Libraries/Common/js")
        @Scripts.Render("~/Libraries/Components/Preloader/js")
        @RenderSection("headscripts", false)
    </head>
    <body>
        <div id="preloader">        
            <div id="status">&nbsp;</div>
        </div>    
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="https://www.gnu.org/licenses/quick-guide-gplv3.ru.html">
                        <img width="88" height="33" src="https://www.gnu.org/graphics/gplv3-88x31.png" alt="Logo GNU General Public License"/>
                    </a>
                </div>                
                <div class="navbar-header">
                    @Html.ActionLink("Чат v1.0", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="navbar-header pull-right">
                        @Html.ActionLink("Выход", "Logout", "Accounts", new {area = ""}, new {@class = "navbar-brand"})
                    </div>
                    <div class="row">
                        <div class="col-md-2 menu">
                            <div class="back"><i class="fa fa-chevron-left"></i> <img src="https://i.imgur.com/DY6gND0.png" draggable="false"/>
                            </div>
                            <div class="name">@User.Identity.Name</div>
                            <div class="last">@DateTime.UtcNow.ToString("f")</div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @RenderBody()
        @RenderSection("bodyscripts", required: false)
        @Scripts.Render("~/Libraries/Components/Preloader/Execute/js")
    </body>
</html>