@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Web.Optimization
@using Libraries.Core.Backend.Helpers
@model Modules.Core.Accounts.LoginModel
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
@section pagetitle
{
    Вход в систему
}
@section stylesheet
{
    @Styles.Render("~/Modules/Accounts/Login/css")
}

<div class="container" style="padding-top: 10vh">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="row no-gutter">
                <div class="text-align-center">
                    <h2>Вход в чат</h2>
                </div>
                @using (Html.BeginForm("Login", "Accounts", new {ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group text-align-center">
                        @Html.ValidationSummary(true, "", new { @class= "text-danger validation-summary" })
                    </div>
                    <div class="col-md-offset-3 col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label" for="@Html.IdFor(m=>m.Account)">Логин: </label>                                
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Account, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Account, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row padding-top-15">
                            <div class="col-md-offset-3 col-md-9">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" value="Вход" class="btn btn-primary col-md-6"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>